
// CSS for the Todo-list on main site
.todo {
	border: 1px solid #E4E4E4;
	display: none;
	grid-column: 3;
	grid-row: 1/4;
	height: 650px;
	width: 310px;
	margin-left: 10px;
		@include respond-to('small') {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		}
	.day {
		border-top: 1px solid #E4E4E4;
		p {
			color:#95989A;
			font-size: 18px;
			margin-left: 10px;
			font-family: 'Roboto', sans-serif;
			cursor: pointer;
		}
	}
	.current-day {
		margin: 15px;
		h1 {
			@extend %hdr;
			border-bottom: 1px solid #95989A;
		}
	}
}
// CSS for the agenda of the day
.agenda {
	.timeslot {
		display: flex;
		justify-content: space-between;
		border-bottom: 0.5px solid #95989A;
		color: #95989A;
		p {
			margin: 10px 0px 10px 0px;
		}
	}
}
