.main-content {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	@include respond-to('large') {
		display: none;
	}
}

.desktop-only {
	display: none;
	@include respond-to('large') {
		display: block;
	}
}