
// Make sure the mobile layout only displays on correct dimensions
.mobile-layout {
		
	@media screen and (min-width: 40em) {
		display: none;
	}
}

// CSS for the popular section of the mobile site
.popular {
	margin-top: -20px;
	text-align: center;
	background-color: white;
	.recipies {
		img {
			width: 150px;
			height: 150px;
		}
	}
	h1 {
		@extend %hdr;
	}
}
// CSS for the todays dinner section of the mobile site
.todays-dinner {
	text-align: center;
	background-color: white;
	.dinner-layout {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 20px;
	}
	h1 {
		@extend %hdr;
	}
}
// CSS for the todays dinner checklist of the mobile site
.todays-checklist {
	margin-left: 5px;
}
// CSS for the individual sections of todays dinner checklist of the mobile site
.check-slot {
	display: flex;
	align-items: baseline;
	border-bottom: 0.5px solid #95989A;
	p {
		font-size: 12px;
		margin-left: 15px;
		color: #95989A;
	}
	.fa-check {
		color: #0BE055;
	}
	.fa-warning {
		color: #EFCE4A;
	}
	&:last-child
	{
	border-bottom: 0px solid black;	
	}
}