.mobile-layout {
	text-align: center;
	h1 {
		color: #95989A;
		font-size: 25px;
		font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
		
	}
	@media screen and (min-width: 40em) {
		display: none;
	}
}

.popular {
	background-color: white;
	.recipies {
		img {
			width: 105px;
			height: 105px;
		}
	}
}
.todays-dinner {
	background-color: white;
	.dinner-layout {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 20px;
	}
}
#checkbox-id {
	display:none;
}
#checkbox-id:checked + nav .menu {
	display: block;
}
.menu {
	background-color: white;
	display: none;
	position: fixed;
	height: 100vh;
	width: 100vw;
}
.menu-icon {
	height: 42px;
	width: 42px;
	color: #4D5052;
}
.menu-label {
	cursor: pointer;
}
